#yt-speed-overlay {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    gap: 10px;
}

#speed-down, #speed-up {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 10%;
    line-height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s;
}

#speed-label {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.3s;
}


#yt-speed-overlay {
    opacity: 0.9;
    transition: opacity 0.3s;
}

#yt-speed-overlay:hover {
    opacity: 1;
}
